html {
  background-image: url(./assets/tropical-planet.jpg);
  height: 100%;
  width: 100%;
}

body {
  border-radius: 10px;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: rgb(11, 21, 20);
}

header {
  background-color: rgb(81, 173, 189);
  width: 100%;
  height: 15%;
  text-align: center;
  border-radius: 10%;
  color: rgb(255, 255, 255);
}

h1, h2, h4 {
  margin: 1%;
  padding: 0%;
}

main {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  align-items: center;
}

section {
  height: 60%;
  width: 15%;
  border-radius: 30%;
  background-color: rgba(198, 249, 249, .95);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: disc;
  padding-left: 10%;
  text-align: left;
}

li {
  margin: 2px;
}

img {
  margin: 3%;
  border: white solid 2px;
  border-radius: 3%;
  background-color: rgba(255, 255, 255, .80);
  height: 30%;
  flex-shrink: 1;
}

button {
  border: rgb(144, 250, 194) solid 2px;
  border-radius: 5%;
  background-color: rgb(81, 173, 189);
  height: 50px;
  width: 120px;
  margin: 3%;
}

.emoji {
  font-size: 75px;
}

.wins-display {
  font-size: 20px;
}

.game-board {
  display: flex;
  justify-content: baseline;
  align-items: center;
  width: 40%;
}

.view {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 70%;
}

.difficult-fighters {
  flex-wrap: wrap;
}

.card {
  margin: 4%;
  border: white solid 2px;
  border-radius: 3%;
  background-color: rgba(255, 255, 255, .80);
  width: 100%;
  height: 50%;
  flex-shrink: 1;
}

.icon:hover {
  background-color: rgb(144, 250, 194);
  cursor: pointer;
}

.card:hover {
  background-color: rgb(144, 250, 194);
  cursor: pointer;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}
