*{
  border: blue solid 1px;
}

html {
  background-image: url(https://fsa.zobj.net/crop.php?r=iJ00lmIuvw1l2Fl87KLiXZdUf0KnpNtBtshpE7YdVy58b_zvwDr1exAh0bqvpjpxslCrtktNVcAQLPG4gIE2mrzqo8OcVCx_cbOyVeZyXpUn1AG8_lkDDVjljkaFcR7dxgm3q5A9wWZNklhb);
  height: 100%;
  width: 100%;
}

body {
  border-radius: 10px;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: rgba(13, 88, 112, .95);
  width: 100%;
  height: 10%;
  text-align: center;
  border-radius: 10%;
  /* margin-top: 2%;
  margin-bottom: 2%; */
}

h1 {
  margin: 1%;
  padding: 0%;
}

h2 {
  margin: 0%;
  padding: 0%;
}

main {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  align-items: center;
}


section {
  height: 60%;
  width: 10%;
  border-radius: 30%;
  background-color: rgba(225, 225, 225, .9);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*
section.egg {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.play-view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  /* height: 100px; */
}

/* .game-choice {
  width: 30%;
  height: 60%;
} */

.card {
  width: 60%;
  border-radius: 0;
  /* width: 55%;
  height: 25%; */
}

.icon {
  margin: 2%;
  /* height: 30%; */
}

.hidden {
  display: none;
}
